body{
    font-family: "FF Ernestine", monospace;
    height: 100vh;   
}





h1 {
  font-size: 4em;  
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    word-spacing: -20px;
}

hr{
    width: 50px;
    background: black;
    height: 3px;
    border-style: none;
    
}
p {
   font-size: 1em;
    text-align: center;
    
    
}
    
.textwrap {position: relative;
  top: 50%;
  transform: translateY(-60%);
    
    
}